<div *ngIf="isLoggedIn">
<header>
    <nav fxLayout="row nowrap" fxLayoutAlign="space-around center" class="animate__animated animate__fadeInDown">
        <ul fxLayout="row nowrap" fxLayoutAlign="space-around center">
            <li  *ngIf="isLoggedIn" class="animate__animated animate__fadeInDown"><a routerLink="/home">Home</a></li>
            <li *ngIf="isLoggedIn" class="animate__animated animate__fadeInDown"><a routerLink="/donate">Donate</a></li>
            <li class="logo animate__animated animate__fadeInDown" fxFlexAlign="flex-start" style="padding: 0; border: none;"><img src="../assets/img/logo.png" alt=""></li>
            <li *ngIf="isLoggedIn" class="animate__animated animate__fadeInDown"><a routerLink="/blog">Blog</a></li>
            <li *ngIf="isLoggedIn" class="animate__animated animate__fadeInDown" id="activeLink"><a routerLink="/shop">Order Now</a></li>
        </ul>
    </nav>
</header>
</div>

<div class="outlet">
    <router-outlet></router-outlet>
</div>

<div *ngIf="isLoggedIn" class="section-footer" fxLayout="row nowrap">
    <ul fxFlex="0 1 50%" fxLayout="row nowrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <li>dfs</li>
        <li>fdsf</li>
        <li>dfs</li>
        <li>fs</li>
    </ul>
    <ul fxFlex="0 1 50%" fxLayout="row nowrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <li><i class="footer-icon fab fa-instagram-square fa-lg"></i></li>
        <li><i class="footer-icon fab fa-facebook-square fa-lg"></i></li>
        <li><i class="footer-icon fab fa-twitter-square fa-lg"></i></li>
        <li><i class="footer-icon fab fa-google-plus-square fa-lg"></i></li>
    </ul>
</div>