<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <h3>Omnifood</h3>
  </div>
  <div *ngIf="!isLoggedIn" class="box animate__animated animate__fadeInDown animate__delay-1s">
    <input type='checkbox' id='form-switch'>
    <form id='login-form'>
      <input type="text" placeholder="Username" #username ng-required>
      <input type="password" placeholder="Password" #password ng-required>
      <button (click)="login(username.value, password.value)">Login</button>
      <label for='form-switch'><span>Register</span></label>
    </form>
    <form id='register-form' action="" method='post'>
      <input type="text" placeholder="Username" #username required>
      <input type="password" placeholder="Password" #password required>
      <button (click)="register(username.value, password.value)">Register</button>
      <label for='form-switch'>Already Member ? Sign In Now..</label>
    </form>
    <!-- <app-alerts></app-alerts> -->
  </div>
  <div *ngIf="isLoggedIn">
    <h4>you are already logged in</h4>
  </div>
</div>